<app-impersonation-banner></app-impersonation-banner>
<app-email-verification-banner></app-email-verification-banner>

<ng-container *ngIf="isPublicRoute$ | async; else appShell">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #appShell>
  <div class="app-shell">
    <app-sidebar></app-sidebar>

    <div class="app-shell__main">
      <app-topbar></app-topbar>
      <app-breadcrumb class="app-shell__breadcrumb"></app-breadcrumb>

      <main class="app-shell__content">
        <router-outlet></router-outlet>
      </main>
    </div>

    <app-onboarding-checklist *ngIf="showOnboarding" (closed)="onOnboardingClosed()"></app-onboarding-checklist>
    <app-floating-help-widget></app-floating-help-widget>
  </div>
</ng-template>
